<% provide(:title, 'Contacto') %>

<div class="center hero-unit">

<h6>Pongase en contacto con nosotros completando el siguiente formulario o por mail a </h6>  
<address>
  <a href="mailto:#">contacto@tracktambo.com</a> </address>
   
<div class="row">
  <div class="span5 offset3">
        
<%= form_for @message, :url => contact_path do |form| %>
  <fieldset class="fields">
    <div class="field">
      <%= form.label :Nombre%>
      <%= form.text_field :name %>
    </div>
    
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
    
    <div class="field">
      <%= form.label :telefono %>
      <%= form.text_field :telefono %>
    </div>
    
    <div class="field">
      <%= form.label :asunto %>
      <%= form.text_field :subject %>
    </div>
    
    <div class="field">
      <%= form.label :mensaje %>
      <%= form.text_area :body,  :rows => 10 %>
    </div>
  
  </fieldset>
  
   <fieldset class="actions">
     <%= form.submit "Enviar", :class => "btn btn-primary" %>
  </fieldset>
<% end %>
</div>
</div>
</div>


