<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="zNP0ZrOkfDU6OyhWydeYZVxUXaH9b_-NHlpD9eaIDeE" />
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
     <!-- Le styles -->
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
   <div class="container marketing">
      <% flash.each do |key, value| %>
        <div id="flash" class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
            
      <%= render 'layouts/products' %>
      <%= render 'layouts/features' %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
  <script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 8000);
 })
</script>
</html>
